.one-edge-shadow {

    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-box, .register-box {
    padding: auto;

}
.body{
    width: 100%;
}

.gambar-login{
    background-image: url('/assets/images/templates/cal.png');
    background-repeat: no-repeat;
    position: static;
    width: auto;
}
.skin-red .main-header .navbar {
    background-color: #30bbbb!important;
}

.skin-red .main-header .logo:hover {
    background-color: #39cccc;
}
.skin-red .main-header .logo {
    background-color: #30bbbb;
}
.skin-red .main-header .navbar .sidebar-toggle:hover {
    background-color: #39cccc;
}
.content-wrapper {
    background-color: #ecf0f5!important;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
background-color:#f39c12!important;

}
.email-read{
    /*background-color: #0c0c0c!important;*/
    background-color: rgba(243,243,243,.85)!important;
}
.bg-navbar {
    background-color: #30bbbb!important;
    color: #fff!important;
}
.bg-footer {
    background-color: #222d32!important;
}

/*toast*/
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    opacity: 0.8;
/*    background-color: #333;  Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 2; /* Add a z-index if needed */
    left: 90%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show {
    visibility: visible !important; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 1s, fadeout 1s 5s;
    animation: fadein 1s, fadeout 1s 5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 0.8;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 0.8;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 0.8;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 0.8;}
    to {bottom: 0; opacity: 0;}
}
/*end toast*/

